@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  @apply cursor-pointer text-sm text-white bg-blue-500 hover:bg-blue-700 border border-blue-500 hover:border-blue-700 rounded-lg py-2 px-4 disabled:bg-slate-400;
}

.btn-red {
  @apply cursor-pointer text-sm text-white bg-red-500 hover:bg-red-700 border border-red-500 hover:border-red-700 rounded-lg py-2 px-4 disabled:bg-slate-400;
}

label {
  @apply text-sm text-gray-900;
}
